<div class="main">
  <div class="right">
      <br>
      <h1>Cennik kręgli</h1>
      <br>
      
      <img width="800" src="..\assets\img\price.JPG">
      <br>
  </div>
  

  <div class="center">
      <br>
      <h1>Cennik bilarda</h1>
      <br>
      
      <img width="800" src="..\assets\img\price.JPG">
      <br>
  </div>

  <div class="left">
      <br>
      <h1>Cennik pub'u</h1>
      <br>
      
      <img width="800" src="..\assets\img\price.JPG">
      <br>
  </div>

  <div class="container">
      <h2>2/5</h2>
      <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:40%"></div>
      </div>
  </div>

  <br>

</div>