<div class="main">
  <div class="center">
    <br><br>
      <div style = "display: inline-block; position: relative; left: -50px">
        <h1>Cennik kręgli</h1>
        <br>
        <img width="800" height="250" src="..\assets\img\price.JPG">
      </div>

      <div style = "display: inline-block; position: relative; right: -50px">
        <h1>Cennik pub'u</h1>
        <br>
        <img width="800" height="250" src="..\assets\img\price-pub.JPG">
      </div>
      
      <br><br><br>
  </div>

  <!-- <div class="container">
      <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:40%"></div>
      </div>
  </div> -->

  <br>

</div>