<div class = "bg-image">
</div>
<div class="bg-text">
    <h2 class="blurry-text"> 
        {{title}}
    </h2>
    
    <p>
    Nazwa użytkownika: <input type="text" placeholder="Nazwa" [(ngModel)]="userNameLogin">
    Hasło: <input type="text" placeholder="Hasło" [(ngModel)]="passwordLogin">
    </p>
    <!-- <i class="fas fa-sign-in-alt" style="font-size: 30px"></i> -->
    <button type="button" class="btn btn-primary" (click)="login()">Sign In</button>
    <br><br>
    
    <br><br>

    <h2 class="blurry-text">Nie posiadasz konta?</h2>
    <h2 class="blurry-text">Stwórz</h2>
    <p>
        Nazwa użytkownika: <input type="text" placeholder="Nazwa" [(ngModel)]="userNameRegister">
    </p>
    <p>
        Hasło: <input type="text" placeholder="Hasło" [(ngModel)]="passwordRegister">
    </p>
    <p>
        Powtórz hasło: <input type="text" placeholder="Powtórz hasło" [(ngModel)]="passwordRegister2">
    </p>
    <button type="button" class="btn btn-success" (click)="register()">Register</button>
    
    <br><br>
    
    <p>Wróć do <a routerLink="/home">strony głównej</a></p>
</div>

