h2 {
    color: black;
    display: block;
    font: bold italic 50px Helvetica;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 10px;
  }
  
  .blurry-text {
    color: transparent;
    text-shadow: 0 0 7px rgb(0, 0, 0);
 }
  
  html { 
    background: #222; 
    color: white; 
    text-align: center; 
  }

  p{
    font: bold 16px Georgia;
  } 

  .main{
    text-align: center;
    background: linear-gradient(110deg, rgb(196, 183, 182) 33%, rgba(25, 0, 247, 0) 33%), linear-gradient(110deg, #dbbcbc 66%, #dacda2 66%);
  }