.progress{
    height: 25px;
}
.main{
    background: radial-gradient(110deg, rgba(43, 46, 65, 0.158) 33%,
     rgba(25, 0, 247, 0) 33%), radial-gradient(110deg, #0000002f 66%, #2b20202f 66%);
}
h1, h2{
    color:azure;
    font-weight: bold;
    font: bold italic 50px Georgia;
}

h4,h3{
    font: bold italic Georgia;
}

.left{
    text-align: left;
    /* display: inline-block; */
}

.center{
    text-align: center;
    /* display: inline-block; */
}

.right{
    text-align: right;
    /* display: inline-block; */
}