<div style="text-align:center">

<nav class="navbar navbar-expand-sm bg-custom navbar-dark sticky-bottom">
    <div class="container">
        <a class="navbar-brand" href="#" style="margin-left: 60%;">
            <img width="50" alt="Logo" src="https://www.freeiconspng.com/uploads/sports-bowling-icon-18.png">
        </a>
    </div>
  <div class="container" >
    <ul class="navbar-nav ml-auto" style="margin-right: 40%;">
      <li class="nav-item active">
        <a class="nav-link" routerLink="#" ngx-scroll-to [ngx-scroll-to-offset]="930">Oferta</a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" routerLink="#" ngx-scroll-to [ngx-scroll-to-offset]="1570">Cennik</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="#" ngx-scroll-to [ngx-scroll-to-offset]="2030">Galeria</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="#" ngx-scroll-to [ngx-scroll-to-offset]="3000">Rezerwuj</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" ngx-scroll-to [ngx-scroll-to-offset]="3000">Kontakt</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:blue;" routerLink="/login">Logowanie</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <ul class="navbar-nav ml-right">
      <li class="nav-item active">
        <a class="nav-link" style="color: black;">{{dataMessage}}</a>
      </li>
    </ul>
  </div>
</nav>
</div>