<div class="main">
    <h1>
        Galeria
    </h1>
    <img class = "top-left" src="..\assets\img\pub2.jpg">
    <img class = "top-right" src="..\assets\img\k2.jpg">
    <img class = "bot-left"  src="..\assets\img\k3.jpg">
    <img class = "bot-right"  src="..\assets\img\k4.jpg">
    <br><br>
    <div class="container">
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:60%"></div>
        </div>
    </div>
    <br>
</div>