<div class ="main" style="text-align:center">
    
    <!-- Navigated to Offer -->
    <div class="oferta">
        <h1>
            Oferta
            <br>
            Billard Urodziny Pub
            <!-- <img width="1200" src="..\assets\img\bowlingMain.jpg"> -->
        </h1>
        <br>
        <div class="container">
            <h2>1/5</h2>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:20%"></div>
            </div>
        </div>
        <br>
    </div>
            
    <!-- Navigated to Price -->
    <div class="cennik">
        <img width="1200" src="..\assets\img\price.JPG">
        <div class="container">
            <h2>2/5</h2>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:40%"></div>
            </div>
        </div>
        <br>
    </div>

    <!-- Navigated to Galery -->
    <div class="galeria">
        <h1>
            Galeria
        </h1>
        <div class="container">
            <h2>3/5</h2>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:60%"></div>
            </div>
        </div>
        <br>
    </div>

    <!-- Navigated to Reservation-->
    <div class="rezerwacja">
        <h1 >
            Rezerwacja
        </h1>
        <div class="container">
            <h2>4/5</h2>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:80%"></div>
            </div>
        <br>
    </div>

    <!-- Navigated to kontakt -->
    <div class="kontakt">
        <h1 >
            Kontakt
        </h1>
        <div class="container">
            <h2>5/5</h2>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div>
            </div>
        <br>
    </div>

</div>