.progress{
    height: 25px;
}

h1, h2{
    color:azure;
    font-weight: bold;
    font: bold italic 50px Georgia;
}

.left{
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    left: -150px;    
    height: 400px; 
    width: 700px;
}

.right{
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    right: -150px; 
    height: 400px; 
    width: 700px;
}