<div>
  <h1 style = "letter-spacing: 6px">
    Oferta
  </h1>
  <br>
    <div style = "display: inline-block;">
        <h1>Kręgle</h1>
        <img class="left" src="..\assets\img\b7.jpg">
        <br><br>
        <p style ="position: relative; left: -150px">W naszej ofercie znajdą Państwo dobrze wyposażoną i nowoczesną sale 
            <br>ze spełniającymi standardy sportowe, torami do gry</p>
    </div>

    <div style = "display: inline-block">
        <h1>Pub</h1>
        <img class="right" src="..\assets\img\pub.jpg">
        <br><br>
        <p style ="position: relative; right: -150px">Wraz z zakupem biletu otrzymują Państwo darmowy napój oraz przekąskę
        <br> natomiast wedle życzenia można w każdej chwili w barze dokupić kolejne</p>
    </div>
      
  <!-- <div class="container">
      <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:20%"></div>
      </div>
  </div> -->
</div>