<div class="main">
  <h1>
    __________Oferta__________
  </h1>
  <br>

  <div  class="left">
      <h1>Billard</h1>
      <a href="https://google.com/"><img width="600" src="..\assets\img\bilard.jpg"></a>
  </div>

  <div class="center">
      <h1>Kręgle</h1>
      <a href="https://google.com/"><img width="600" src="..\assets\img\kregle.jpg"></a>
  </div>

  <div class="right">
      <h1>Pub</h1>
      <a href="https://google.com/"><img width="600" src="..\assets\img\pub.jpg"></a>
  </div>
        
      <!-- <img width="1200" src="..\assets\img\bowlingMain.jpg"> -->
  
  <br>
  <div class="container">
      <h2>1/5</h2>
      <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:20%"></div>
      </div>
  </div>
  <br>
</div>