<div>
  <h1>
    Oferta
  </h1>
  <br>
    <div style = "display: inline-block">
        <h1>Kręgle</h1>
        <img class="left" src="..\assets\img\kregle.jpg">
    </div>

    <div style = "display: inline-block">
        <h1>Pub</h1>
        <img class="right" src="..\assets\img\pub.jpg">
    </div>
      

  <div class="container">
      <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:20%"></div>
      </div>
  </div>
  <br>
</div>