.progress{
    height: 25px;
}

.main{
    background: linear-gradient(110deg, rgb(161, 32, 107) 33%, rgba(25, 0, 247, 0) 33%), linear-gradient(110deg, #8b4ddba9 66%, #5c4b15 66%);
}

h1, h2{
    color:azure;
    font-weight: bold;
}

.left{
    text-align: left;
    /* display: inline-block; */
}

.center{
    text-align: center;
    /* display: inline-block; */
}

.right{
    text-align: right;
    /* display: inline-block; */
}