<div class = "main">
    <div *ngIf="customer; else no_customer">
        <h2 class="blurry-text"> Witaj {{customer.userName}}</h2>
      
        <div *ngIf="customer.reservations && customer.reservations.length; else other_content">
          <p>Twoja liczba rezerwacji: {{customer.reservations.length}}</p>

          <button type="button" class="btn btn-warning" (click)="show()">Wyswietl wszystkie rezerwacje</button>
          <br><br><br>

          <button type="button" class="btn btn-success" (click)="book()">Dodaj rezerwacje</button>
          <br><br><br>

          <p>Jesli chcesz usunąć rezerwaje, podaj jej numer: 
            <br>
            <input type="text" placeholder="Numer" [ngModel]="numberOfReservation" style = "width: 60px;"> 
            <br>
            <button type="button" class="btn btn-danger" (click)="delete()">Usun rezerwacje</button>
            <br><br>
          </p>

          <p>Kliknij aby się wylogować i wrócić na stronę główną</p>
          <button type="button" class="btn btn-dark" (click)="logOut()">Wyloguj</button>
        </div>
      
        <!-- Brak rezerwacji -->
        <ng-template #other_content>
            <p>Niestety nie posiadasz aktualnie żadnej rezerwacji</p>
            <p>Zachęcamy Cię do złożenia nowej</p>
            <button type="button" class="btn btn-light" (click)="book()">Dodaj rezerwacje</button>
      
        <br><br><br><br>
      
        <button type="button" class="btn btn-dark" (click)="logOut()">Wyloguj</button>
        <br><br>
          <p>Wyloguj się, aby wrócić na stronę główną gdzie możesz zapoznać się z naszą aktualną ofertą</p>
          <p>Jeśli wciąż masz wątpliwości lub pytania zapraszamy do kontaktu</p>
      
        </ng-template>
      </div>
      
      <!-- Brak konta -->
      <ng-template #no_customer>
          <p>Niestety nie udało się poprawnie zalogować</p>
          <p><a routerLink="/login">Spróbuj ponownie</a></p>
          <p>Lub wróć do <a routerLink="/home">strony głównej</a></p>
      </ng-template>
</div>